
@{
    ViewBag.Title = "Câu 2";
}

<style>
    td:first-child {
        padding: 4px 40px 4px;
    }

    td:last-child {
        padding: 4px 60px 4px 40px;
    }

    input[type=submit] {
        padding: 4px 12px;
    }
</style>

<h2>Câu 2</h2>

@using (Html.BeginForm("KetQua", "Home"))
{

    <table border="1">
        <tr>
            <td width="30%">
                @Html.Label("Mã giảng viên: ")
            </td>
            <td>
                @Html.TextBox("maGV")
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label("Họ tên: ")
            </td>
            <td>
                @Html.TextBox("hoTen")
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Khoa: ")
            </td>
            <td>
                @{ 
                    IEnumerable<string> li = new List<string> { "Cơ khí", "Kinh tế", "Công nghệ thông tin" };
                }
                @Html.DropDownList("khoa", new SelectList(li, li.FirstOrDefault()));
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Lương giờ: ")
            </td>
            <td>
                @Html.TextBox("luongGio")
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Số giờ: ")
            </td>
            <td>
                @Html.TextBox("soGio")
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Lương tháng: ")
            </td>
            <td>
                <input readonly="readonly">
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Tính">
            </td>
        </tr>
    </table>
}

