@model IEnumerable<NguyenVietTrung_3066_De3.Models.Hang>

@{
    ViewBag.Title = "Xem hàng";
}

<h2>Xem hàng</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên hàng
        </th>
        <th>
            Loại
        </th>
        <th>
            Giá
        </th>
        <th>Chức năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tenhang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.Mahang.Trim() }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Mahang.Trim() }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Mahang.Trim() })
        </td>
    </tr>
}

</table>
